<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
	</startup>
	<connectionStrings>
		<!--<add name="club_sport_2Entities" connectionString="metadata=res://*/ModelGestionClubSport.csdl|res://*/ModelGestionClubSport.ssdl|res://*/ModelGestionClubSport.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ANDROID-RF76Y98\SQLEXPRESS;initial catalog=club_sport_2;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="club_sport_2Entities1" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ANDROID-RF76Y98\SQLEXPRESS;initial catalog=club_sport_2;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="club_sport_2Entities2" connectionString="metadata=&quot;res://*/Entity Framework.Model1.csdl|res://*/Entity Framework.Model1.ssdl|res://*/Entity Framework.Model1.msl&quot;;provider=System.Data.SqlClient;provider connection string=&quot;data source=ANDROID-RF76Y98\SQLEXPRESS;initial catalog=club_sport_2;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Gestion_Club_Sport_FinalEntities" connectionString="metadata=res://*/Model2.csdl|res://*/Model2.ssdl|res://*/Model2.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ANDROID-RF76Y98\SQLEXPRESS;initial catalog=Gestion_Club_Sport_Final;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Gestion_Club_Sport_FinalEntities1" connectionString="metadata=res://*/Model3.csdl|res://*/Model3.ssdl|res://*/Model3.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ANDROID-RF76Y98\SQLEXPRESS;initial catalog=Gestion_Club_Sport_Final;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="GCS_FinalEntities" connectionString="metadata=res://*/ModelG.csdl|res://*/ModelG.ssdl|res://*/ModelG.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ANDROID-RF76Y98\SQLEXPRESS;initial catalog=GCS_Final;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
		<add name="GCS_FinalEntities1" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-8PDF6KH\SQLEXPRESS;initial catalog=GCS_Final;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
	</connectionStrings>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
		</providers>
	</entityFramework>
</configuration>
